@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    1 Street Address<br />
    Sample Town, Sample Code<br />
    <abbr title="Phone">P:</abbr>
    (011) 234 5678
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@aps.com">Support@aps.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@aps.com">Marketing@aps.com</a>
</address>